
@{
    ViewData["Title"] = "HomeAdmin";
}



<h2 class="text-center">Login</h2>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
            <div class="form-group">

                <a class="btn btn-info btn-block" asp-area="" asp-controller="University" asp-action="create">Add University</a>
                <a class="btn btn-info btn-block" asp-area="" asp-controller="University" asp-action="index">Show University List</a>

                <a class="btn btn-info btn-block" asp-area="" asp-controller="Student" asp-action="index">Show Student List</a>
            </div>
          
        
        </div>
    </div>

</div>