@{
    ViewData["Title"] = "About";
}



<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about">
        <div class="container">
            <div class="row about-container">

                <div class="col-lg-6 content order-lg-1 order-2">
                    <h2 class="title">Few Words About Us</h2>
                    <p>
                        Students are working at their colleges to get new information and develop their experts about their specialization, which helps to make them distinct in the practical field. Making discussion and conversations are important factors in increasing the experts for students so we must find a way to facilitate conversation and discussion between students themselves. This project will cover many universities and each university has many colleges. Any student in any college can participate in chat or files with other colleges, and students can view and download the explaining files. This project is an application contains chats between students in computer science field.
                    </p>
                </div>
                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
            </div>

        </div>
    </section><!-- End About Section -->
</main>