@{
    ViewData["Title"] = "Contact";
}

<main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">Contact</h3>
                <br />
                <br />
                <br />


            </div>
        </div>

        <!-- Uncomment below if you wan to use dynamic maps -->

        <div class="container wow fadeInUp mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    </div>
                    <div class="col-lg-5 col-md-6">

                        <div class="info">
                            <div>
                                <i class="fa fa-map-marker"></i>
                                <p>Asir - Abha<br>King Khalid University, Saudi Arabia</p>
                            </div>

                            <div>
                                <i class="fa fa-envelope"></i>
                                <p>Linked_Academia@Yahoo.com</p>
                            </div>

                            <div>
                                <i class="fa fa-phone"></i>
                                <p>+966533604932</p>
                            </div>
                        </div>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>



                </div>

            </div>
    </section><!-- End Contact Section -->
</main>
<br />
