@{
    ViewData["Title"] = "Home Page";
}
<script>

    $(document).ready(function () {
        console.log("hi");
        $("#bodyContent").removeClass("container");
        $("#bodyContent").removeClass("body-content");
        debugger;
        $("#br1").remove();
        $("#br2").remove();
        $("#br3").remove();
        $("#br4").remove();
    });

</script>
<br />
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h1>Welcome to Linked Academia</h1>
        <h2>We are team of talanted designers making websites with Bootstrap</h2>
        <a asp-controller="Account" asp-action="Index"class="btn-get-started">Login</a>
        <a asp-controller="Account" asp-action="Registration"class="btn-get-started">Create Account</a>
    </div>
</section><!-- End Hero Section -->
