@model Student
@{
    ViewData["Title"] = "Home";
}


<br />
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
            <div class="form-group">

                <a class="btn btn-info btn-block" asp-area="" asp-controller="Class" asp-action="create">Create Class</a>
                <a class="btn btn-info btn-block" asp-area="" asp-controller="Class" asp-action="index">Show Class List</a>
            </div>


        </div>
    </div>

</div>
<br />
<br />
<br /><br />
<br />
<br /><br /><br />
<br />
<br />

